    html,
    body {
        height: 100%;
    }
    
    .con {
        position: relative;
        top: 50%;
        margin: 0 auto;
        margin-top: -160px;
        margin-left: -160;
        width: 350px;
        height: 350px;
    }
    /*把五个模块放到一个容器里*/
    
    .con>div {
        text-align: center;
        line-height: 100px;
    }
    
    .left {
        float: left;
        border: 2px solid rgba(175, 144, 238, 0.33);
        width: 100px;
        height: 100px;
        margin-right: 5px;
        background-color: rgba(236, 229, 88, 0.68);
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .6);
    }
    
    .up {
        border: 2px solid rgba(144, 187, 238, 0.39);
        float: left;
        margin: 0 110px 0;
        width: 100px;
        height: 100px;
        background-color: rgba(19, 171, 204, 0.4);
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .6);
    }
    
    .right {
        float: left;
        border: 2px solid lightgreen;
        width: 100px;
        height: 100px;
        background-color: rgba(73, 232, 31, 0.62);
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .6);
    }
    
    .down {
        float: left;
        border: 2px solid rgba(21, 21, 152, 0.4);
        margin: 0 110px 0;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .6);
        width: 100px;
        height: 100px;
        background-color: rgba(171, 2, 193, 0.41);
    }
    
    .core {
        float: left;
        margin-right: 5px;
        border: 2px solid rgba(10, 67, 72, 0.45);
        width: 100px;
        height: 100px;
        background-color: pink;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .6);
    }
